<h1>Liste des livres :</h1>

<% @les_livres.each do |un_livre| %>
  <p>
    <a href="/books/<%= un_livre.id %>"><%= un_livre.title %></a>
    <% if un_livre.category %>
      (<%= un_livre.category.title %>)
    <% end %>
  </p>
<% end %>

<%= form_tag "/books", method: "post" do %>
    <input type="text" name="title" placeholder="title">
    <select name="category_id">
      <% @les_categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.title %></option>
      <% end %>
    </select>
    <input type="submit" value="Ajouter à la liste">
<% end %>
