<h1>Affichage d'un livre</h1>

<p><%= @le_livre.title_was %></p>

<%= form_tag "/books/#{@le_livre.id}", method: "patch" do %>
  <input type="text" name="title">
  <%= @le_livre.errors[:title].first %>
  <input type="submit" value="Modifier les données">
<% end %>

<%= form_tag "/books/#{@le_livre.id}", method: "delete" do %>
  <input type="submit" value="Supprimer le livre">
<% end %>

<a href="/books">Revenir à la liste de livres</a>
